.app-container {
    font-family: 'Oswald', sans-serif;
    background-color: #4B5D75;
    color: #FDF0D5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TRAILER EN ARRIERE PLAN  */
.trailer-background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(60%);
}

/* CONTAINER POUR BOUTON ET CONTRÔLES */
.controls-container {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

/* BOUTON DE DÉMARRAGE */
.start-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FDF0D5;
    background-color: #8f0101;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
}

.start-button:hover {
    background-color: #4B5D75;
    background-image: url('/assets/fond_carrelage.jpg');
    transform: scale(1.05);
}

/* CONTRÔLE DU VOLUME */
.volume-control {
    display: flex;
    align-items: center;
    color: #FDF0D5;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 10px;
}

.volume-control label {
    margin-right: 10px;
    font-weight: bold;
}

.volume-control input[type="range"] {
    width: 100px;
    cursor: pointer;
}

/* FONDU DE SORTIE */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}