.app-container {
    font-family: 'Oswald', sans-serif;
    background-color: #4B5D75; /* fond noir sobre */
    color: #FDF0D5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */


/* TRAILER EN ARRIERE PLAN  */

/* VIDÉO EN ARRIÈRE PLAN */
.trailer-background-container {
    /* flex: 1; */
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(60%);
}

/* BOUTON DE DÉMARRAGE */
.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FDF0D5;
    background-color: #8f0101;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s, transform 0.2s;
}

.start-button:hover {
    background-color: #4B5D75;
    background-image: url('/assets/fond_carrelage.jpg');
    transform: translate(-50%, -50%) scale(1.05);
}

/* FONDU DE SORTIE */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
