/* .app-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
} */


/* .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */


/* TRAILER EN ARRIERE PLAN  */

.trailer-background-container {
    /* flex: 1; */
    position: relative;
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 100px); */
    /* sensé ajuster si Header/Footer prennent de la place */
}

.background-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    /* pour passer vraiment en fond */
    filter: brightness(60%);
}


/* BOUTON LANCER LA PARTIE */

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #FDF0D5;
    background-color: #8f0101;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #669BBC;
}

.fade-out {
    animation: fadeOut 1s forwards;
}


/* @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}