#footer-container {
    background-color: #000000;
    background-image: url('/assets/fond_carrelage2.jpg');
    color: #FDF0D5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-top: 2px solid #8f0101;
    font-size: 0.9rem;
}

#footer-left-container,
#footer-right-container {
    margin: 0.5rem 1rem;
}

/* TITRE GAUCHE */
#footer-left-container h3 {
    font-family: 'Space Grotesk', sans-serif;
    color: #FDF0D5;
    margin: 0;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
}

#footer-left-container h3:hover {
    color: #FDF0D5;
    cursor: pointer;
}

/* COPYRIGHT */
#footer-left-container p {
    margin: 0.2rem 0 0;
    color: #ccc;
}

/* LIENS LÉGAUX */
#footer-right-container p {
    margin: 0.2rem 0;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
}

#footer-right-container p:hover {
    color: #FDF0D5;
}
