@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Space+Grotesk:wght@400;600&display=swap');

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 2rem; */
    padding: 1rem 0;
    width: 100%;
    background-color: #4B5D75;
    background-image: url('/assets/fond_carrelage.jpg');
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 1000;
}

#navbar-droite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin: 0 2rem;
    color: #669BBC;
    text-decoration: none;
}

#navbar h3 {
    background-color: #669BBC;
    margin: 0 1rem;
    padding: 0.5rem 2rem;
    color: #FDF0D5;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: black;
    text-decoration: none;
}

#navbar #jouer-button {
    background-color: #C1121F;
}

#navbar #jouer-button:hover {
    background-color: #669BBC;
    color: #FDF0D5;
    margin: 0;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

#navbar h1:hover {
    color: #A3121F;
    cursor: pointer;
}

#navbar h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 1.5rem;
    color: #FDF0D5;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1.5em;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
}

#navbar h3:hover {
    /* background-color: #4B5D75; */
    /* border: 1px solid #444; */
    color: #8F0101;
    cursor: pointer;
}

#navbar #jouer-button {
    background-color: #8F0101;
color: #FDF0D5;
border-radius: 8px;
font-weight: bold;
transition: background-color 0.3s ease;
}

#navbar #jouer-button:hover {
    background-color: #4B5D75;
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    #navbar h1 {
        margin-bottom: 1rem;
    }

    #navbar h3 {
        margin: 0.3rem 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
        flex-direction: column;
    }
    #navbar-droite {
        flex-direction: column;
    }
    /* #navbar h3 {
        margin: 0.5rem 0;
    } */
}

@media (max-width: 480px) {
    #navbar h1 {
        font-size: 1.5rem;
    }

    #navbar h3 {
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
    }
}
